# For deployment
DJANGO_SECRET_KEY=django-insecure-4*&8fraa1r0xo)!k-ozrixfh)q8r597ms0nwr5ea!!8*!+$xd+
DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.development
ALLOWED_HOSTS=spiderhub.example.edu.ec,localhost
 
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=spider_user
POSTGRES_PASSWORD=spider_password
POSTGRES_DB=spider
 
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
 
 
# Superuser (optional - for automated setup)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.org.ec
DJANGO_SUPERUSER_PASSWORD=nb7wJ$18Ssia0
 
# Gunicorn
GUNICORN_WORKERS=3
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=30
 
# Cache busting
STATIC_VERSION=1.0.0
CSP_REPORT_URI=https://spiderhub.example.edu.ec/csp-report/