DJANGO_SECRET_KEY=django-insecure-4*&8fraa1r0xo)!k-ozrixfh)q8r597ms0nwr5ea!!8
DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.development
ALLOWED_HOSTS=spiderhub.cedia.edu.ec,localhost

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=spider_user
POSTGRES_PASSWORD=spider_password
POSTGRES_DB=spider

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False