{% load static %}
{% load static_tags %}
{% load i18n %}
<footer class="footer">
  <div class="footer__content">
    <div class="footer__column">
      <h3 class="footer__column-title">SPIDERHUB</h3>
      <p>{% trans "Platform for analysis and visualisation of documents and agreements for digital transformation between the European Union and Latin America." %}</p>
      <div class="footer__social">
        <a href="https://www.linkedin.com/company/spider-network-eu/" class="footer__social-link" aria-label="LinkedIn">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="footer__social-icon">
            <path d="M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM8.5 6.5C9.33 6.5 10 7.17 10 8C10 8.83 9.33 9.5 8.5 9.5C7.67 9.5 7 8.83 7 8C7 7.17 7.67 6.5 8.5 6.5ZM11 14H6V12.5C6 11.12 7.12 10 8.5 10C9.88 10 11 11.12 11 12.5V14ZM18 14H13V12.5C13 11.12 14.12 10 15.5 10C16.88 10 18 11.12 18 12.5V14ZM15.5 9.5C14.67 9.5 14 8.83 14 8C14 7.17 14.67 6.5 15.5 6.5C16.33 6.5 17 7.17 17 8C17 8.83 16.33 9.5 15.5 9.5Z" fill="currentColor"/>
          </svg>
        </a>
      </div>
    </div>
    <div class="footer__column">
      <h3 class="footer__column-title">{% trans "Links" %}</h3>
      <ul class="footer__list">
        <li class="footer__list-item"><a href="{% url 'core:home' %}" class="footer__link">{% trans "Home" %}</a></li>
        <li class="footer__list-item"><a href="{% url 'core:explore' %}" class="footer__link">{% trans "Explore Data" %}</a></li>
        <li class="footer__list-item"><a href="{% url 'core:analysis' %}" class="footer__link">{% trans "Analysis" %}</a></li>
        <li class="footer__list-item"><a href="{% url 'core:events' %}" class="footer__link">{% trans "Events" %}</a></li>
        <li class="footer__list-item"><a href="{% url 'core:about' %}" class="footer__link">{% trans "About" %}</a></li>
      </ul>
    </div>
    <div class="footer__column">
      <h3 class="footer__column-title">{% trans "Resources" %}</h3>
      <ul class="footer__list">
        <li class="footer__list-item"><a href="https://spidernetwork.org/news/" class="footer__link">{% trans "News" %}</a></li>
      </ul>
    </div>
    <div class="footer__column">
      <h3 class="footer__column-title">{% trans "Contact" %}</h3>
      <ul class="footer__list">
        <li class="footer__list-item">info@spidernetwork.org</li>
      </ul>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="footer__partners">
      <div class="footer__partners-content">
        <span class="footer__partners-text">{% trans "Powered by" %}</span>
        <div class="footer__partner-logos">
          <img src="{% static_versioned 'footer/Logo_Spider_negativo.png' %}" alt="{% trans "SPIDER EU-LAC Digital Partnership" %}" class="footer__logo footer__logo--spider">
          <img src="{% static_versioned 'footer/cedia.png' %}" alt="CEDIA" class="footer__logo footer__logo--cedia">
          <img src="{% static_versioned 'footer/dlr.svg' %}" alt="DLR" class="footer__logo footer__logo--dlr">
        </div>
      </div>
      <div class="eu-funding">
        <img src="{% static_versioned 'footer/EN_FundedbytheEU_RGB_NEG.png' %}" alt="{% trans "Funded by the European Union" %}" class="footer__logo footer__logo--eu">
      </div>
    </div>
    
    <div class="footer__eu-disclaimer">
      <p class="footer__disclaimer-text">{% trans "Funded by the European Union. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or the HADEA. Neither the European Union nor the granting authority can be held responsible for them." %}</p>
    </div>
    
    <p class="footer__copyright-text">&copy; 2025 SPIDERHUB. {% trans "All rights reserved." %}</p>
  </div>
</footer>