{% load static %}
<header>
    <nav class="navbar">
      <a href="{% url 'core:home' %}" class="logo">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="15" fill="#1C7377" />
          <path d="M15 5L25 15L15 25L5 15L15 5Z" fill="#32AFAF" />
          <circle cx="15" cy="15" r="5" fill="white" />
        </svg>
        SPIDERHUB
      </a>
      <ul class="nav-links">
        <li><a href="{% url 'core:home' %}">Home</a></li>
        <li><a href="{% url 'core:explore' %}">Explore Data</a></li>
        <li><a href="{% url 'core:analysis' %}">Analysis</a></li>
        <li><a href="{% url 'core:about' %}">About</a></li>

      </ul>
      <button class="mobile-menu-toggle" aria-label="Toggle mobile menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </nav>
    <div class="mobile-nav-overlay">
      <ul class="mobile-nav-links">
        <li><a href="{% url 'core:home' %}">Home</a></li>
        <li><a href="{% url 'core:explore' %}">Explore Data</a></li>
        <li><a href="{% url 'core:analysis' %}">Analysis</a></li>
        <li><a href="{% url 'core:about' %}">About</a></li>
      </ul>
    </div>
  </header>
