{% load static %}
<header>
    <nav class="navbar">
      <a href="{% url 'core:home' %}" class="logo">
        <img src="{% static 'footer/Logo_Spider_isotipo.png' %}" alt="Spider Project Logo" class="logo-image">
        SPIDERHUB
      </a>
      <ul class="nav-links">
        <li><a href="{% url 'core:home' %}">Home</a></li>
        <li><a href="{% url 'core:explore' %}">Explore Data</a></li>
        <li><a href="{% url 'core:analysis' %}">Analysis</a></li>
        <li><a href="{% url 'core:about' %}">About</a></li>

      </ul>
      <button class="mobile-menu-toggle" aria-label="Toggle mobile menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </nav>
    <div class="mobile-nav-overlay">
      <ul class="mobile-nav-links">
        <li><a href="{% url 'core:home' %}">Home</a></li>
        <li><a href="{% url 'core:explore' %}">Explore Data</a></li>
        <li><a href="{% url 'core:analysis' %}">Analysis</a></li>
        <li><a href="{% url 'core:about' %}">About</a></li>
      </ul>
    </div>
  </header>
