{% load static %}
<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}SPIDERHUB: Fostering EU - LAC Digital Transformation{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700&display=swap" rel="stylesheet">
  {% block extra_head %}{% endblock %}
    <script type="module" src="{% static 'core/js/main.js' %}"></script>
</head>

<body>
  <!-- Header Navigation -->
  {% include "includes/header.html" %}

  <!-- Content -->
  {% block content %}{% endblock %}

  <!-- Footer -->
  {% include "includes/footer.html" %}

  <!-- JS -->
  {% block extra_scripts %}{% endblock %}
  
</body>
</html>

