{% load static %}
{% load static_tags %}
<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{% block title %}SPIDERHUB: Fostering EU - LAC Digital Transformation{% endblock %}</title>
  
  <!-- CSS con versionado automático -->
  {% css_versioned 'core/css/base.css' %}
  {% css_versioned 'core/css/home.css' %}
  
  <link rel="icon" href="{% static_versioned 'favicon.ico' %}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">

  {% block extra_head %}{% endblock %}
  
  <!-- JS con versionado automático -->
  {% js_module_versioned 'core/js/MainEntry.js' %}
</head>

<body>
  <!-- Header Navigation -->
  {% include "includes/header.html" %}

  <!-- Content -->
  {% block content %}{% endblock %}

  <!-- Footer -->
  {% include "includes/footer.html" %}

  <!-- JS -->
  {% block extra_scripts %}{% endblock %}
  
</body>
</html>

